/* css Reset */
*{
    margin: 0px;
    padding: 0px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    top: 0%;
    font-family: 'Freckle Face', cursive;
}
#navbar ::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 13%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 65px;
    margin: -3px -25px
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 44px;
     border-radius: 20px ;
     text-decoration: none;
}
#navbar ul li a :hover{
    color: black;
    background-color: cornsilk;
}
/* Home selection */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 332px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
#home ::before{
    content: "";
    position: absolute;
    background-image: url(bg3.jpeg)  ;
    background-repeat: no-repeat;
    background-size:  1348px 425px;
    height: 1000px;
    left: 0%;
    top: 0%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: crimson;
    text-align: center;
    font-family: 'Freckle Face', cursive;
    padding: 23px 23px;
    font-size: 34px;

}
#home p{
    color: tomato;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Freckle Face', cursive;

}
.btn{
    padding: 12px 44px;
    color: #16095f;
    font-size: 100%;
    border-radius: 26px;
}
#services{
    margin: 34px;
    display: flex;
}
.box{
    border: 2px solid brown;
    padding: 13px;
    margin: 2px 6px;
    border-radius: 28px;
    background-color: rgba(209, 200, 184, 0.74);
    margin-bottom: 20px;
}
.box img{
    height: 179px;
    margin: auto;
    display: block;
}
.box  p{
    font-family: 'Freckle Face', cursive;
}
#h-primary{
    font-family: 'Freckle Face', cursive;
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
    color: teal;
    /* border: 2px solid red; */
}
.box ::before{
    margin: 0px 0px;
    padding: 0px 64px;
    content: "";
    position: absolute;
    background: url(bg2.jpeg);
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    height: 401px;
    top: 423px;
    left: 2px;
    width: 100%;
    z-index: -1;
    opacity: 0.72;
    /* background-position-x: 100%; */
}
#gallery{
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 23px 23px;
   

}
.gallery-item{
    width: 100%;
}
.gallery-item img{

    height: 236px;
    width: 267px;
    /* border: 2px solid blue; */
    /* flex-wrap: wrap;
    flex-direction: column; */
    
}
#heading{
    font-family: 'Freckle Face', cursive;
    font-size: 3.8rem;
    position: absolute;
    top: 810px;
    left: 514px;
    /* padding: -19px; */
    text-align: center;
    color: teal;
    /* border: 2px solid red; */
}
